src/
dist/
build/
node_modules/
coverage/
.temp/
.tmp/
logs/*.log
.env
.env.*.local
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json